.App {
  text-align: center;
}
.footer{
  padding: 30px;
  border-top: 1px solid blue;
  margin-bottom: 50px;

}
.header{
  margin-top: 50px;
  border-bottom: 1px solid blue;
  margin-bottom: 40px;
}

